.main__container {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    font-family: var(--primary-font-family);
    background-color: var(--background-color-light1);
    color: var(--text-color-light1);
    padding: 2rem;
}

