.post-modal__container {
    position: relative;
    width: 45rem;
    background-color: var(--background-color-light2);
    box-shadow: #0000003d 0px 3px 8px;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.post-modal__top {
    width: 100%;
    border-bottom: 1px solid var(--text-color-light2);
}

.post-modal__title {
    font-size: 1.2rem;
}

.close__btn {
    margin-left: auto;
    cursor: pointer;
}

.close__btn:hover {
    color: var(--accent-color);
}

.post-modal__details {
    width: 100%;
    padding: 1rem 0;
    gap: 2rem;
}

.user__profile-img {
    border-radius: 50%;
    width: 4rem;
}

.post__visibility-dropdown {
    margin-left: auto;
    gap: 1rem;
    color: var(--accent-color);
    border-radius: 1rem;
    padding: 5px;
    background-color: #1fc7ff25;
    cursor: pointer;
}

.material-icons.public__icon,
.material-icons.expand__btn {
    font-size: 1.6rem;
}

.post__modal-input {
    width: 86%;
    margin-left: 6rem;
    align-self: flex-start;
}

.post__modal-textarea {
    width: 100%;
    height: 10rem;
    outline: none;
    border: none;
    resize: none;
    font-family: var(--primary-font-family);
}

.post__modal-counter {
    align-self: flex-end;
}

.post__modal-choices {
    width: 97%;
    padding: 1rem 0 1rem 1rem;
    gap: 2rem;
}

.material-icons.add-image__btn,
.material-icons.add-emoji__btn,
.material-icons.post__icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.add-image__btn:hover,
.add-emoji__btn:hover {
    color: var(--accent-color);
}

.post__modal-postbtn {
    margin-left: auto;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    gap: 5px;
    border: none;
    background-color: var(--accent-color);
    color: var(--background-color-light2);
    cursor: pointer;
}

.counter--count {
    color: var(--accent-color);
}

.counter--warn {
    color: #ffc400;
}

.counter--error {
    color: #ff0000;
}

.postbtn--disabled {
    background-color: var(--text-color-light2);
}

.post__modal-imglist {
    width: 100%;
}

.image-item {
    width: 100%;
    padding: 1rem;
    position: relative;
}

.image-item img {
    width: 100%;
    border-radius: 1rem;
    box-shadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
}

.image-item__btn-wrapper {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.material-icons.remove__btn {
    font-size: 2rem;
    color: var(--background-color-light2);
    padding: 1rem;
    border-radius: 50%;
    background-color: #8080807a;
    cursor: pointer;
}

.material-icons.remove__btn:hover {
    background-color: var(--text-color-light2);
}